<div class="sign-up">
    <div class="sign-up-form">
        <h3>Subscribe for new reports.</h3>
        <form action="http://telegraphresearch.us8.list-manage.com/subscribe/post?u=55d133f1026419c0ef05fc204&amp;id=8bf5396de5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="input-group mailchimp-form">
                <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="mail@example.com" autofocus="autofocus"/>
                <span class="input-group-btn">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"/>
                </span>
            </div>
        </form>
    </div>
</div>