
.table td {
    border: 0 !important;
}

.navbar {
    border: 0;
    border-radius: 0;
    background-color: #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

    .navbar-toggle {
        border: 0;
        background-color: black;
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        z-index: 9999;
    } 
    .icon-bar {
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }
    #logo {
        font-family: adelle, "Times New Roman", serif;
        font-weight: 100;
        font-size: 130%;
        margin-left: 5px;
        color: white;
        letter-spacing: 3px;
        /* Make logo smaller on mobile */
        @media (max-width: @screen-sm-max) {
            font-size: 90%;
        }
    }
    .navbar-collapse {
        border: 0;
    }
    .navbar {
        border: 0;
    }
    .navbar-nav li a {
        color: white;
    }
}

.navbar-nav, .sidebar {
    font-weight: 500;
}
.sidebar > li > a {
    color: black;
}

.sidebar {
    position: fixed;
    margin-top: 100px;
}
/* Main formatting */
.title {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

/* Page top */

.forehead {
    /*position: relative;*/
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    padding: 17px 0 17px;
    margin-bottom: 30px;
    opacity: 1;
    z-index: 99;
}

/* Custom goodies */
.highlight {
  background: #ffff00;
}

footer {
    padding: 40px;
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}

.torso {
    padding-top: 80px;
}

.navbar-nav {
    font-family: @font-family-sans-serif;
    padding-right: 10px;
}


li {
    font-family: @font-family-sans-serif;
}

.content p{
    font-size: 115%;
    line-height: 162%;
    text-align: justify;

    section {
        padding: 12px 0;
    }
    margin: 0 0 15px;
}

header {
    a {
        h1 {
            color: black;
            font-weight: 700;
            font-size: 40px;
        }
    }
}

p a {
    font-weight: 600;
    color: #707070;
    text-decoration: underline;
}

/* Nav sidebar */
.panel {
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.nav-pills > li > a, .pane-default, .panel-default .panel-body {
    background-color: #dddddd;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: #dddddd;
    color: black;
    font-weight: 600;
}

.report-menu {
    min-width: 216px;
    a {
        color: black;
    }
}

.no-padding-right {
    padding-right: 0;
}

.navbar {
    background-color: rgba(0,0,0,0.75);
    .navbar-toggle {
        background-color: inherit;
    }
}

