---
layout: page
title: About
---

<!-- Description of Telegraph -->
<p>{% include description_long.md %}</p>
<p>
    The site aimed to provide a technical perspective on companies with high growth potential. This project is now in retirement as its authors have entered the startup world themselves with the company <a href="https://www.staffjoy.com">StaffJoy</a>.
</p>
<p>
    Email the team at <a href="mailto:{{ site.email }}">{{site.email}}</a>, and follow the site on <a href="{{site.twitter_url}}">Twitter</a> and <a href="{{site.facebook_url}}">Facebook</a>.
</p>

<h2>Authors</h2>
<div class="container">
    <div class="row">
        {% for author in site.data.authors %}
        <div class="col-sm-4">
            <img src="{{ author.image }}" class="img-thumbnail" width="300px"alt="{{ author.name }}" >
            <h3>{{ author.name }}</h3>
            <a class="btn btn-primary btn-block" href="{{ author.url }}">Website</a>
            <a class="btn btn-success btn-block" href="{{ author.linkedin }}">LinkedIn</a>
            <a class="btn btn-info btn-block" href="http://twitter.com/{{ author.twitter }}">Twitter</a>
            <p>{{ author.bio }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% include signup.html %}
