---
layout: page
hide_header: 'true'

---

<!-- Description of Telegraph -->
<div class="biography">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>{{ site.description }}</h3>
            </div>
        </div>
    </div>
</div>

<!-- The Authors -->
<div class="authors">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>The Authors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="http://0-media-cdn.foolz.us/ffuuka/board/vp/image/1388/85/1388853599294.jpg" class="img-thumbnail" width="300px">
                <h3>Philip Thomas</h3>
                <p>Blah Blah Bllaaaah</p>
            </div>
            <div class="col-sm-4">
                <img src="http://0-media-cdn.foolz.us/ffuuka/board/vp/image/1388/85/1388853599294.jpg" class="img-thumbnail" width="300px">
                <h3>Andrew Hess</h3>
                <p>Ahhh hah hah ah hah hah hah hahah lorem ipsum I am awesome see how this writes we need a long paragraph here yeah yeah yeah yeah whatever mayne</p>
            </div>
        </div>
    </div>
</div>



