---
layout: default
---
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {{ site.title }}  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% include navigation.html %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<div class="container torso">

    <div class="row">
        <div class="col col-lg-2 col-lg-offset-1 col-md-2 col-sm-2 hidden-xs">
            {% if (page.sidebar != 'false') %}
                <ul class="nav nav-pills nav-stacked sidebar hidden-xs">
                    {% include report_menu.html %}
                </ul>
            {% endif %}
        </div>
        <div class="col col-sm-10 col-md-8 col-lg-6 content">
            
            {{ content }}

        </div>
    </div>
</div>

<footer class="container">
    {% include footer.html %}
</footer>
