---
layout: navigation 
---
<div class="container torso">
    <div class="row">
        <div class="col col-sm-8 col-md-9 col-lg-8 col-xs-12 content">

            {{ content }}

        </div>
        <div class="col col-lg-offset-1 col-lg-3 col-md-3 col-sm-4 hidden-xs">
            <div class="sidebar">
                {% if (page.report_menu == 'true') %}
                <div class="panel panel-default hidden-xs ">
                    <div class="report-menu panel-body">
                        {% include report_menu.html %}
                    </div>
                </div>
                {% else %}
                <div class="panel panel-default hidden-xs ">
                    <div class="report-menu panel-body">
                        {% include recent_reports.html %}
                    </div>
                </div>
                {% endif %}
                <div class="staffjoy-panel panel">
                    <div class="panel-body">
                        <div>A New Project from the </div>
                        <div>Telegraph Research team:</div>
                        <div>
                            <a class="btn btn-xs btn-primary staffjoy-link" href="https://www.staffjoy.com"><h4>StaffJoy</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer container">
    {% include copyright.html %}
</footer>
