---
layout: navigation 
---
<div class="container torso">
    <div class="row">
        <div class="col col-sm-8 col-md-9 col-lg-9 col-xs-12 content">

            {{ content }}

        </div>
        <div class="col col-lg-3 col-md-3 col-sm-4 hidden-xs">
            {% if (page.report_menu == 'true') %}
            <div class="sidebar panel panel-default hidden-xs ">
                <div class="report-menu panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        {% include report_menu.html %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<footer class="container">
    {% include footer.html %}
</footer>
